<% const { properties } = locals; %>
<% const pubs = properties.flatMap(({publications}) => publications); %>
<% const tagline = `Cataloguing ${pubs.length} publications from ${properties.length} colleges and universities.` %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>College Media Database</title>
  <meta name="description" content="<%= tagline %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

    circle {
      cursor: pointer;
    }

    .tooltip {
      position: fixed;
      display: flex;
      flex-direction: column;
      background-color: white;
      box-shadow: 4px 3px 5px 0px #ddd;
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 10px;
      pointer-events: none;
    }

    .tooltip .pub-title {
      display: flex;
      align-items: center;
      line-height: 1rem;
      padding-top: 5px;
    }

    .tooltip h3 {
      margin: 0;
    }

    .tooltip img {
      margin-right: 5px;
    }
  </style>
</head>

<body>
  <header>
    <div class="header-text">
      <h1>College Media DB <span class="beta-tag">Beta!</span></h1>
      <p><%= tagline %></p>
    </div>
  </header>
  <main>
    <div id="map"></div>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdIhgy3Ss5qh1D7-i7meSv0UHHi7_i6v30C1GU-E5NEArgQNw/viewform" class="center"><strong>Add or edit an entry</strong>&nbsp;&#10095;</a>
    <div id="pub-list">
      <% const byState = pubs.reduce((acc, pub) => {
        if (!acc[pub.state]) acc[pub.state] = [];
        acc[pub.state].push(pub);
        return acc;
      }, {}) %>

      <% Object.entries(byState).forEach(([state, pubList]) => { %>
        <h2><%= state %> <small><%= pubList.length %> publications</small></h2>
        <% pubList.forEach(pub => { %>
            <%- include('partials/publication', {...pub}); %>
        <% }) %>
      <%}) %>
    </div>
  </main>
  <footer>
    Built by <a href="https://andrewfischer.me/">Andrew Fischer</a>. Follow me on <a href="https://twitter.com/ndrewfischer">twitter</a>.
  </footer>
  <link rel="stylesheet" href="scss/style.scss"> 
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@300;700&display=swap" rel="stylesheet">
  <script src="./index.js"></script>
</body>

</html>
